@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ForgotPasswordViewModel

@{
    Layout = "_LoginLayout";
}

<div class="row" style="margin-top:5px">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body bg-light">
            <h4>Forgot Password</h4>
            <form method="post" action="forgotpassword">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Email">Registered email</label>
                    <input asp-for="Email" type="text" class="form-control" maxlength="250" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FamilyID">Family ID</label>
                    <input asp-for="FamilyID" type="text" class="form-control" maxlength="11" />
                    <span asp-validation-for="FamilyID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrimaryPhone4Digits">Last 4 digits of Primary Phone</label>
                    <input asp-for="PrimaryPhone4Digits" type="password" class="form-control" maxlength="4" />
                    <span asp-validation-for="PrimaryPhone4Digits" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword">New Password</label>
                    <input asp-for="NewPassword" type="password" class="form-control" maxlength="25" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword">Confirm New Password</label>
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" maxlength="25" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <div class="text-danger">@Html.DisplayFor(Model => Model.ErrorMessage)</div>
                        <button id="btnReset" type="reset" class="btn btn-primary btn-md"><i class="fa fa-ban" aria-hidden="true"></i> Clear</button>
                        <button id="btnCancel" type="reset" class="btn btn-primary btn-md"><i class="fa fa-home" aria-hidden="true"></i> Cancel</button>
                        <button id="btnSubmit" type="submit" class="btn btn-success btn-md"><i class="fa fa-unlock" aria-hidden="true"></i> Save New Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>