@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model  CTSWebApp.ViewModels.AuthServiceAuthorizeResult
@{
    if (Model != null)
    {
        <div id="hdnToken" class="hide">@Model.Token</div>
        <div id="hdnEmail" class="hide">@Model.Email</div>
        <div id="hdnUserName" class="hide">@Model.UserName</div>
        <div id="hdnExpires" class="hide">@Model.Expires</div>
    }
}

<ctsApp>
    <div >
        Loading Application. Please wait...
        <img src="~/img/Loading.gif" height="50" width="50" />
    </div>
</ctsApp>