<div class="container">
    <div class="jumbotron">
        <h2 style="color:darkred">Session Expired or You have logged out !</h2>
        <div>Please <button id="btnLogin" type="reset" class="btn btn-success btn-sm" (click)="loginClick()"><i class="fa fa-unlock" aria-hidden="true"></i> login</button> to access requested Page or
        Click <button id="btnCancel" type="reset" class="btn btn-primary btn-sm" (click)="homeClick()"><i class="fa fa-home" aria-hidden="true"></i> here</button> to navigate to Home Page !</div>
    </div>
</div>