<header class="container-fluid p0">
    <nav class="navbar navbar-light navbar-expand-md bgcolorMenu">
        <div class="row ">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#menuBar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="menuBar" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link py-0" routerLink="/home">Home</a></li>
                    <li *ngIf="isLoggedOn" class="nav-item active"><a class="nav-link py-0" routerLink="/attendance">Attendance</a></li>
                    <li *ngIf="isTermScoreEntryAllowed" class="nav-item"><a class="nav-link py-0" routerLink="/scores">Test Scores</a></li>
                    <!--<li class="nav-item"><a class="nav-link py-0" routerLink="/contactus">Contact Us</a></li>
    <li class="nav-item"><a class="nav-link py-0">About Us</a></li>-->
                </ul>
            </div>
        </div>
    </nav>

</header>
<div class="container p0 mt10">
    <!--<h4 class="text-center">{{pageTitle}}</h4>-->

    <div class="row bgBar br5 m5 p5">
        <div class="col-md-4">
            <div class="input-group">
                <label for="selectCalenderWeek" class="mt5">Week</label>
                <img *ngIf="isSelectCalendarWeekLoading" src="/img/Loading.gif" height="40" width="40" class="ml10" />
                <i *ngIf="calendarWeekLoadError" class="fa fa-exclamation-triangle form-control errorText"> {{calendarWeekLoadError}}</i>
                <select *ngIf="!isSelectCalendarWeekLoading && !calendarWeekLoadError" name="selectCalenderWeek" class="ml10 selectpicker form-control selectWidth" (change)="onSelectCalendarWeek($event.target.value)">
                    <option value="0">--Select Week--</option>
                    <option *ngFor="let week of CalendarWeeks" value={{week.id}}>
                        {{week.description}} - {{week.weekDate | date: 'MM/dd/yyyy'}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <label for="selectGrade" class="mt5">Grade</label>
                <img *ngIf="isSelectGradeLoading" src="/img/Loading.gif" height="40" width="40" class="ml10" />
                <i *ngIf="gradeLoadError" class="fa fa-exclamation-triangle form-control errorText"> {{gradeLoadError}}</i>
                <select *ngIf="!isSelectGradeLoading && !gradeLoadError" name="selectGrade" class="ml10 selectpicker form-control selectWidth"
                        (change)="onSelectGrade($event.target.value)" [(ngModel)]="selectedGrade" [disabled]="!selectGradeEnabled">
                    <option value="0">--Select Grade--</option>
                    <option *ngFor="let grade of Grades" value={{grade.ctsGrade}}>
                        {{grade.ctsGrade}}
                    </option>
                </select>
            </div>

        </div>
        <div class="col-md-4">
            <div class="input-group">
                <label for="selectTeacher" class="mt5">Teacher</label>
                <img *ngIf="isSelectTeacherLoading" src="/img/Loading.gif" height="40" width="40" class="ml10" />
                <select *ngIf="!isSelectTeacherLoading" name="selectTeacher" class="ml10 selectpicker form-control selectWidth"
                        (change)="onSelectTeacher($event.target.value)" [(ngModel)]="selectedTeacherId" [disabled]="!selectTeachedEnabled">
                    <option value="0">--Select Teacher--</option>
                    <option *ngFor="let teacher of Teachers" value={{teacher.id}}>
                        {{teacher.firstName}} {{teacher.lastName}}
                    </option>
                </select>
            </div>
        </div>
        <!--<div class="col-md-2">
            <button class="btn btn-primary btn-sm right mt5"><strong><i class="fa fa-list-ul"></i> List Students</strong></button>
        </div>-->
    </div>
    <div class="row">
        <div *ngIf="isStudentWeekGradeGridLoading" class="col-md-12">Loading Student Grades. Please wait.<img src="/img/Loading.gif" height="40" width="40" class="ml10" /></div>
        <div *ngIf="studentGridServerWarningMessage" class="col-md-12 mt10 ml10 errorText"><i class="fa fa-exclamation-triangle"></i> {{studentGridServerWarningMessage}} </div>
    </div>
    <!--Copy from Previous week-->
    <div class="row" *ngIf="showCopyFromPrevWeek && gradeSelectionAllowed">
        <div class="col-md-12 mt10 ml10 infoText"><i class="fa fa-info-circle"></i> Would you like to Copy from Previous week ? 
            <button class="btn btn-success btn-sm ml10" (click)="copyFromPrevWeek()" type="submit">
                <strong>Yes, Copy from Previous week !</strong>
            </button>
        </div>
    </div>
    <div class="row" *ngIf="showL1Grid">
        <div class="col-md-12" id="no-more-tables">
            <table class="table-bordered table-condensed cf" id="dev-table">
                <thead class="bgTableHead cf">
                    <tr>
                        <th class="fw">ID</th>
                        <th class="fw w150">First Name</th>
                        <th class="fw w150">Last Name</th>
                        <th class="fw">Attendance</th>
                        <th class="fw">Behaviour</th>
                        <th class="fw">Participation</th>
                        <th class="fw w200">Notes</th>

                    </tr>
                </thead>
                <tbody *ngIf="!isL1GridReadOnly">

                    <tr *ngFor="let weekGrade of StudentWeekGrades">
                        <td data-title="ID">{{weekGrade.studentID}}</td>
                        <td data-title="First Name">{{weekGrade.firstName}}</td>
                        <td data-title="Last Name">{{weekGrade.lastName}}</td>
                        <td data-title="Attendance">
                            <select class="selectpicker form-control" (change)="selectAttendance(weekGrade, $event.target.value)" [(ngModel)]="weekGrade.attendance" required>
                                <option value="10">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                        <td data-title="Behavior">
                            <select class="selectpicker form-control" (change)="selectScore(weekGrade, 'behavior', $event.target.value)" [(ngModel)]="weekGrade.behavior">
                                <option *ngFor="let score of Scores" value={{score}}>
                                    {{score}}
                                </option>
                            </select>
                        </td>
                        <td data-title="Participation">
                            <select class="selectpicker form-control" (change)="selectScore(weekGrade, 'participation', $event.target.value)" [(ngModel)]="weekGrade.participation">
                                <option *ngFor="let score of Scores" value={{score}}>
                                    {{score}}
                                </option>
                            </select>
                        </td>
                        <td data-title="Notes"><textarea class="form-control rounded-3" rows="1" [(ngModel)]="weekGrade.notes" maxlength="100">{{weekGrade.notes}}</textarea></td>
                    </tr>
                </tbody>
                <tbody *ngIf="isL1GridReadOnly">
                    <tr *ngFor="let weekGrade of StudentWeekGrades">
                        <td data-title="ID">{{weekGrade.studentID}}</td>
                        <td data-title="First Name">{{weekGrade.firstName}}</td>
                        <td data-title="Last Name">{{weekGrade.lastName}}</td>
                        <td data-title="Attendance">{{weekGrade.attendance}}</td>
                        <td data-title="Behavior">{{weekGrade.behavior}}</td>
                        <td data-title="Participation">{{weekGrade.participation}}</td>
                        <td data-title="Notes">{{weekGrade.notes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" *ngIf="showL2Grid">
        <div class="col-md-12" id="no-more-tables">
            <table class="table-bordered table-condensed cf" id="dev-table">
                <thead class="bgTableHead cf">
                    <tr>
                        <th class="fw">ID</th>
                        <th class="fw w150">First Name</th>
                        <th class="fw w150">Last Name</th>
                        <th class="fw">Attendance</th>
                        <th class="fw">Homework</th>
                        <th class="fw">Behaviour</th>
                        <th class="fw">Participation</th>
                        <th class="fw w200">Notes</th>

                    </tr>
                </thead>
                <tbody *ngIf="!isL2GridReadOnly">

                    <tr *ngFor="let weekGrade of StudentWeekGrades">
                        <td data-title="ID">{{weekGrade.studentID}}</td>
                        <td data-title="First Name">{{weekGrade.firstName}}</td>
                        <td data-title="Last Name">{{weekGrade.lastName}}</td>
                        <td data-title="Attendance">
                            <select class="selectpicker form-control" (change)="selectAttendance(weekGrade, $event.target.value)" [(ngModel)]="weekGrade.attendance" required>
                                <option value="10">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                        <td data-title="Homework">
                            <select class="selectpicker form-control" (change)="selectScore(weekGrade, 'homework', $event.target.value)" [(ngModel)]="weekGrade.homework">
                                <option *ngFor="let score of Scores" value={{score}}>
                                    {{score}}
                                </option>
                            </select>
                        </td>
                        <td data-title="Behavior">
                            <select class="selectpicker form-control" (change)="selectScore(weekGrade, 'behavior', $event.target.value)" [(ngModel)]="weekGrade.behavior">
                                <option *ngFor="let score of Scores" value={{score}}>
                                    {{score}}
                                </option>
                            </select>
                        </td>
                        <td data-title="Participation">
                            <select class="selectpicker form-control" (change)="selectScore(weekGrade, 'participation', $event.target.value)" [(ngModel)]="weekGrade.participation">
                                <option *ngFor="let score of Scores" value={{score}}>
                                    {{score}}
                                </option>
                            </select>
                        </td>

                        <td data-title="Notes"><textarea class="form-control rounded-3" rows="1" [(ngModel)]="weekGrade.notes" maxlength="100">{{weekGrade.notes}}</textarea></td>
                    </tr>
                </tbody>
                <tbody *ngIf="isL2GridReadOnly">
                    <tr *ngFor="let weekGrade of StudentWeekGrades">
                        <td data-title="ID">{{weekGrade.studentID}}</td>
                        <td data-title="First Name">{{weekGrade.firstName}}</td>
                        <td data-title="Last Name">{{weekGrade.lastName}}</td>
                        <td data-title="Attendance">{{weekGrade.attendance}}</td>
                        <td data-title="Homework">{{weekGrade.homework}}</td>
                        <td data-title="Behavior">{{weekGrade.behavior}}</td>
                        <td data-title="Participation">{{weekGrade.participation}}</td>
                        <td data-title="Notes">{{weekGrade.notes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row" *ngIf="showL3Grid">
        <div class="col-md-12" id="no-more-tables">
            <table class="table-bordered table-condensed cf" id="dev-table">
                <thead class="bgTableHead cf">
                    <tr>
                        <th class="fw">ID</th>
                        <th class="fw w150">First Name</th>
                        <th class="fw w150">Last Name</th>
                        <th class="fw">Attendance</th>
                        <th class="fw">Homework</th>
                        <th class="fw">Reading</th>
                        <th class="fw">Writing</th>
                        <th class="fw">Speaking</th>
                        <th class="fw">Behaviour</th>
                        <th class="fw">Quiz</th>
                        <th class="fw w200">Notes</th>

                    </tr>
                </thead>
                <tbody *ngIf="!isL3GridReadOnly">

                    <tr *ngFor="let weekGrade of StudentWeekGrades">
                        <td data-title="ID">{{weekGrade.studentID}}</td>
                        <td data-title="First Name">{{weekGrade.firstName}}</td>
                        <td data-title="Last Name">{{weekGrade.lastName}}</td>
                        <td data-title="Attendance">
                            <select class="selectpicker form-control" (change)="selectAttendance(weekGrade, $event.target.value)" [(ngModel)]="weekGrade.attendance" required>
                                <option value="10">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                        <td data-title="Homework">
                            <select class="selectpicker form-control" (change)="selectScore(weekGrade, 'homework', $event.target.value)" [(ngModel)]="weekGrade.homework">
                                <option *ngFor="let score of Scores" value={{score}}>
                                    {{score}}
                                </option>
                            </select>
                        </td>
                        <td data-title="Reading">
                            <select class="selectpicker form-control" (change)="selectScore(weekGrade, 'reading', $event.target.value)" [(ngModel)]="weekGrade.reading">
                                <option *ngFor="let score of Scores" value={{score}}>
                                    {{score}}
                                </option>
                            </select>
                        </td>
                        <td data-title="Writing">
                            <select class="selectpicker form-control" (change)="selectScore(weekGrade, 'writing', $event.target.value)" [(ngModel)]="weekGrade.writing">
                                <option *ngFor="let score of Scores" value={{score}}>
                                    {{score}}
                                </option>
                            </select>
                        </td>
                        <td data-title="Speaking">
                            <select class="selectpicker form-control" (change)="selectScore(weekGrade, 'speaking', $event.target.value)" [(ngModel)]="weekGrade.speaking">
                                <option *ngFor="let score of Scores" value={{score}}>
                                    {{score}}
                                </option>
                            </select>
                        </td>
                        <td data-title="Behavior">
                            <select class="selectpicker form-control" (change)="selectScore(weekGrade, 'behavior', $event.target.value)" [(ngModel)]="weekGrade.behavior">
                                <option *ngFor="let score of Scores" value={{score}}>
                                    {{score}}
                                </option>
                            </select>
                        </td>
                        <td data-title="Quiz">
                            <select class="selectpicker form-control" (change)="selectScore(weekGrade, 'quiz', $event.target.value)" [(ngModel)]="weekGrade.quiz">
                                <option *ngFor="let score of Scores" value={{score}}>
                                    {{score}}
                                </option>
                            </select>
                        </td>
                        <td data-title="Notes"><textarea class="form-control rounded-3" rows="1" [(ngModel)]="weekGrade.notes" maxlength="100">{{weekGrade.notes}}</textarea></td>
                    </tr>
                </tbody>
                <tbody *ngIf="isL2GridReadOnly">
                    <tr *ngFor="let weekGrade of StudentWeekGrades">
                        <td data-title="ID">{{weekGrade.studentID}}</td>
                        <td data-title="First Name">{{weekGrade.firstName}}</td>
                        <td data-title="Last Name">{{weekGrade.lastName}}</td>
                        <td data-title="Attendance">{{weekGrade.attendance}}</td>
                        <td data-title="Homework">{{weekGrade.homework}}</td>
                        <td data-title="Reading">{{weekGrade.reading}}</td>
                        <td data-title="Writing">{{weekGrade.writing}}</td>
                        <td data-title="Speaking">{{weekGrade.speaking}}</td>
                        <td data-title="Behavior">{{weekGrade.behavior}}</td>
                        <td data-title="Quiz">{{weekGrade.quiz}}</td>
                        <td data-title="Notes">{{weekGrade.notes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div *ngIf="studentGridServerErrorMessage" class="col-md-12 mt10 ml10 errorText"><i class="fa fa-exclamation-triangle"></i> {{studentGridServerErrorMessage}} </div>
        <div *ngIf="studentGridServerSuccessMessage" class="col-md-12 mt10 ml10 successText"><i class="fa fa-check-circle"></i>  {{studentGridServerSuccessMessage}}</div>
    </div>
    <div class="row bgBar br5 m5 p5" *ngIf="isGridSaving">
        <div class="col-md-12">Saving Student Grades. Please wait.<img src="/img/Loading.gif" height="40" width="40" class="ml10" /></div>
    </div>
    <div class="row bgBar br5 m5 p5" *ngIf="(showL1Grid || showL2Grid || showL3Grid) && !isGridSaving">

        <div class="col-md-4"></div>
        <div class="col-md-4 ">
            <button class="btn btn-primary btn-sm" type="button" (click)="cancelClick()"><strong><i class="fa fa-times-circle"></i> Cancel</strong></button>
            <button class="btn btn-primary btn-sm ml10" (click)="saveClick()" type="submit" *ngIf="showSaveButton()"><strong><i class="fa fa-save"></i> Save</strong></button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>